setuptools ~= 82.0.1
wheel ~= 0.47.0
scikit-build ~= 0.19.0
cmake ~= 4.3.2
ninja ~= 1.13.0
tox ~= 4.53.1
# unittest-xml-reporting==3.0.4 # horribly deprecated
# xmlrunner~=1.7.7 # horribly deprecated
